<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5VDZ2jjFr3ag2BBI4ocGvJNVs2jYCEF4</string>
	<key>GCM_SENDER_ID</key>
	<string>391070804204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalManual</string>
	<key>PROJECT_ID</key>
	<string>digital-manual-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-manual-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391070804204:ios:89c0c20123a33f6713ddc9</string>
</dict>
</plist>